@use "fonts";
@use 'reset';

.container {
    max-width: 1440px;
    padding: 0 135px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width:768px) {
        max-width: 768px;
        width: 100%;
        padding: 0 34px;
    }

    @media screen and (max-width:320px) {
        max-width: 320px;
        width: 100%;
        padding: 0 10px;
    }

}

.banner {
    background: url(../images/desktop-header.jpg);
    height: 600px;
    background-repeat: round;

    &-title {
        padding-top: 100px;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.05em;
        color: #000000;
        margin: 0 auto;

        @media screen and (max-width:768px) {
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 50px;
            letter-spacing: 0.05em;
        }

        @media screen and (max-width:320px) {
            font-weight: 600;
            font-size: 27px;
            line-height: 50px;
            letter-spacing: 0.05em;

        }
    }

    @media screen and (max-width:768px) {
        width: 100%;
        background: url(../images/tablet-header.jpg);
        height: 320px;
        background-repeat: no-repeat;
    }

    @media screen and (max-width:320px) {
        width: 100%;
        height: 500px;
        background: url(../images/mobile-header.jpg);
        background-repeat: no-repeat;
    }
}


.section-blog {
    margin-bottom: 90px;

    @media screen and (max-width:768px) {
        margin-bottom: 70px;
    }

    @media screen and (max-width:320px) {
        margin-bottom: 45px;
    }

    h2 {
        padding-top: 70px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.05em;
        color: #000000;
        padding-bottom: 50px;

        @media screen and (max-width:320px) {
            display: flex;
            justify-content: center;
        }
    }

    .post-first {
        display: flex;
        margin: 0 auto;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 50px;

        @media screen and (max-width:320px) {
            display: block;
        }

        &-text {
            margin-top: 85px;

            @media screen and (max-width:768px) {
                margin: 0;
            }

            >span {
                display: block;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 166%;
                letter-spacing: 0.1em;
                color: #7B7B7B;
                padding-bottom: 30px;

                @media screen and (max-width:768px) {
                    padding-bottom: 20px;
                }
            }

            >h3 {
                max-width: 369px;
                padding-bottom: 15px;
                font-style: normal;
                font-weight: 500;
                font-size: 23px;
                line-height: 166%;
                letter-spacing: 0.1em;
            }

            >p {
                font-weight: 400;
                font-size: 16px;
                line-height: 166%;
                letter-spacing: 0.05em;
                color: #565656;

                @media screen and (max-width:768px) {
                    padding-bottom: 37px;
                }

            }
        }
    }
}

.post-second {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;

    @media screen and (max-width:768px) {
        display: flex;
    }

    .post-second-text {
        margin-top: 85px;

        @media screen and (max-width:768px) {
            margin: 0;
        }

        >span {
            display: block;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #7B7B7B;
            padding-bottom: 30px;

            @media screen and (max-width:768px) {
                padding-bottom: 20px;
            }
        }

        >h3 {
            max-width: 369px;
            padding-bottom: 15px;
            font-style: normal;
            font-weight: 500;
            font-size: 23px;
            line-height: 166%;
            letter-spacing: 0.1em;
        }

        >p {
            font-weight: 400;
            font-size: 16px;
            line-height: 166%;
            letter-spacing: 0.05em;
            color: #565656;

            @media screen and (max-width:768px) {
                padding-bottom: 20px;
            }
        }
    }
}



.section-three-post {
    padding-bottom: 112px;

    @media screen and (max-width:768px) {
        padding-bottom: 66px;
    }

    @media screen and (max-width:320px) {
        padding-bottom: 70px;
    }


    .post-list-third-title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;

        @media screen and (max-width:320px) {
            display: block;
            padding-bottom: 30px;
        }

        >h3 {
            font-weight: 600;
            font-size: 28px;
            line-height: 166%;
            letter-spacing: 0.1em;

            @media screen and (max-width:320px) {
                padding-bottom: 10px;
            }
        }

        >span {
            font-weight: 400;
            font-size: 16px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #7B7B7B;

        }
    }
}

.section-three-post-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media screen and (max-width:768px) {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-direction: row-reverse;
    }

    @media screen and (max-width:320px) {
        display: block;
    }

}

img {
    padding-bottom: 25px;
}

.additional-info {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #7B7B7B;
    padding-bottom: 26px;
}

h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
    padding-bottom: 20px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.05em;
    color: #565656;
}


.section-four-post {
    margin-bottom: 54px;


    &-menu {
        display: flex;
        justify-content: space-between;
        padding-bottom: 46px;

        @media screen and (min-width:320px) {
            display: block;
        }

        h3 {
            font-weight: 600;
            font-size: 28px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #000000;
        }

        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #7B7B7B;
        }
    }

    &-list {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @media screen and (max-width:320px) {
            display: block;
        }

        img {
            padding-bottom: 25px;
        }

        .additional-info {
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            font-size: 12px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #7B7B7B;
            padding-bottom: 26px;
        }

        h3 {
            font-weight: 500;
            font-size: 24px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #000000;
            padding-bottom: 20px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 166%;
            letter-spacing: 0.05em;
            color: #565656;
        }
    }
}

.section-five-button {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;

    .button {
        width: 180px;
        height: 46px;
        background: #565656;
        font-weight: 700;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.1em;

        >a {
            color: #FFFFFF;
        }
    }
}

.section-six {
    margin-bottom: 60px;

    @media screen and (max-width:768px) {
        margin-bottom: 70px;
    }


    .section-six-columns {
        display: flex;
        justify-content: space-between;
        gap: 230px;

        @media screen and (max-width:768px) {
            display: block;
        }

        h3 {
            font-weight: 400;
            font-size: 23px;
            line-height: 166%;
            letter-spacing: 0.1em;
        }

        p {
            max-width: 470px;
            font-weight: 400;
            font-size: 19px;
            line-height: 32px;
            letter-spacing: 0.05em;
            color: #565656;

            @media screen and (max-width:768px) {
                max-width: 700px;
                font-weight: 400;
                font-size: 19px;
                line-height: 32px;
                letter-spacing: 0.05em;
                color: #565656;
                text-align: right;
            }

            @media screen and (max-width:320px) {
                font-size: 18px;
                text-align: left;
            }

        }
    }

}

footer {
    background: #F4F4F4;

    span {
        display: flex;
        justify-content: center;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;
    }
}

.footer-columns {
    padding: 70px 0 26px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:768px) {
        padding: 50px 0 26px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .footer-content-right {

        ul,
        li {
            display: flex;
            gap: 23px;
        }

        & li:hover {
            background: #565656;
            stroke: white;
            box-shadow: #F4F4F4;
        }
    }

    .footer-content-left {
        h2 {
            font-weight: 400;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: 0.05em;
            padding-bottom: 30px;

            @media screen and (max-width:320px) {
                font-weight: 400;
                font-size: 32px;
                line-height: 42px;
                letter-spacing: 0.05em;
                padding-bottom: 20px;

            }
        }

        .contact-data {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;

            @media screen and (max-width:768px) {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
            }
        }

        .tel {
            font-weight: 400;
            font-size: 18px;
            line-height: 166%;
            text-align: center;
            letter-spacing: 0.1em;
            color: #000000;
            padding-bottom: 15px;
        }

        .email {
            font-weight: 400;
            font-size: 16px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #000000;
        }
    }
}